/*html, body {
	height 100%;
}
body {
	background-image: url('../image/fondo.png');
	background-repeat: no-repeat;
	background-size: cover;
}

header{
	background: url('../image/fondo.png') no-repeat;
	background-size: 100%;
	width: 100%;
	height: 500px;
}*/

.top img{
	width: 40%;
	padding: 15px;
	padding-left: 20px;
	position: relative;
}
nav img{
	box-sizing: border-box;
	width: 15%;
	text-align: center;
	font-size: 85%;
	text-decoration: none;
	margin-top: 20px;
}
footer img{
	width: 15%;
	position: fixed;
	left: 85%;
	bottom: 10px;
}
footer{
	font-family: sans-serif;
	font: helvetica;
	display: inline-block;
	width: 100%;
}
footer p{
	display: inline-block;
	position: fixed;
	left: 20px;
	bottom: 6px;
}
.row1 a{
	width: 120px;
	height: 120px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: block;
    text-align: center;
    vertical-align: middle;
    margin: 20px;
    font-size: 60px;
    padding-top: 17px;
    line-height: 1.42;
    box-sizing: border-box;
}
.btnPemex {
	background-color: #007065;
	border-color: black;
	border: 1px transparent #007065;
	color: white;
	background-image: none;
	padding: 6px 12px;
	margin-bottom: 0;
	border: 1px solid transparent;
	border-radius: 4px;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
}
.btnPemex:hover {
	background-color: #007065;
	color: white;
	border: 1px transparent #d9d9d9;
	text-decoration: none;
}
.btnPemex:active {
	background-color: #007065;
	color: white;
	text-decoration: none;
}
.btnPemex {
	background-color: #007065;
	border-color: black;
	border: 1px transparent #007065;
	color: white;
}
.disabled:hover {
	opacity :0.7;
	cursor: not-allowed;
}

li{
	display: inline-block;
}